<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> UCM-CAU </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/fondo.css">
  <link rel="stylesheet" href="./css/tablas.css">
  <link rel="icon" href="https://www.ucm.es/themes/ucm16/media/img/logoucm.ico">
</head>

<body class="backGround">

  <%- include ("subplantillas/cabecera") %>
  <%- include ("subplantillas/modalAsignarTec") %>
  <%- include ("subplantillas/modalEliminarAviso") %>

  <div class="container mt-4 ">
    <div class="d-flex justify-content-between flex-row">
      <ul class="nav">
        <li class="nav-item bg-secondary me-1 rounded-3">
          <a class="nav-link" href="/logged_tec">Avisos Entrantes</a>
        </li>
        <li class="nav-item bg-light me-1 rounded-3">
          <a class="nav-link" href="/misavisos">Mis Avisos</a>
        </li>
        <li class="nav-item bg-light me-1 rounded-3">
          <a class="nav-link" href="/historicostec">Histórico de Avisos</a>
        </li>
        <li class="nav-item bg-light me-1 rounded-3">
          <a class="nav-link" href="/gestionUsuarios">Gestión de ususarios</a>
        </li>
      </ul>
    </div>
    <div class="mt-1 tbheight rounded-3">
      <table id="tablaAvisos" class="table table-responsive custom-table rounded-3 shadow-lg table-borderless table-striped">
        <thead class="sticky-top bg-white">
          <tr>
            <th scope="col" class="text-center">Tipo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Texto</th>
            <th scope="col" class="text-center tec">Acciones</th>
          </tr>
        </thead>
        <tbody>

          <% if(avisos){%>
          <% avisos.forEach(element=> { %>
          <tr class="shadow-inset-center">

            <td class="d-none">
              <%= element.idAviso %>
            </td>
            
            <td class="d-none nombreUsuario">
              <%= element.nombreUsuario %>
            </td>

            <% let imagen; switch(element.tipo){ case "F" :
                                            imagen="./images/felicitacion.png" ; break; case "S" :
                                            imagen="./images/sugerencia.png" ; break; case "I" :
                                            imagen="./images/incidencia.png" ; break; }%>

            <td class="align-middle text-center col-1"> <img src=<%=imagen %> alt="">
            </td>

            <td class="align-middle col-1 text-center">
              <%= element.fecha %>
            </td>
            <td class="align-middle col-8 texoTabla">
              <% let aux =  element.texto
                if (aux.length > 200) {
                    aux = element.texto.slice(0,199) +"...";
                }
               %>
              <%= aux %>
            </td>

            <td class="align-middle text-center col-1 tec">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn p-1 btn-light btn-outline-secondary botonAsignarTecnico" data-bs-toggle="modal" data-bs-target="#modalAsignarTec" <% if (element.nombreTecnico){%> disabled <%} %>>
                  <% if (element.nombreTecnico) {%>
                  <img src="./images/headsetDisabled.png" alt="">
                  <%}else{%>
                  <img src="./images/headset.png" alt="">
                  <%} %>
                </button>

                <button class="btn p-1 btn-light btn-outline-secondary botonVistaAnuncio" data-bs-toggle="modal" data-bs-target="#modalEliminarAviso" <% if (element.tipo==="F" ) {%> disabled <%} %>>
                  <% if (element.tipo==="F" ) {%>
                  <img src="./images/binDisabled.png" alt="">
                  <%}else{%>
                  <img src="./images/bin.png" alt="">
                  <%} %>
                </button>
              </div>
            </td>

          </tr>
          <% }); %>

          <%} else{%>
          <td class="align-middle text-center" colspan="4"> <strong>
              Sin avisos ヾ(⌐■_■)ノ♪
            </strong> </td>
          <%}%>

                        </tbody>
                    </table>
                </div>
            </div>

            </div>

            <script src="./javascripts/JQuery/openVerAviso.js"></script>

            <script type="application/javascript">
                $(document).ready(function () {
                    // Cada vez que se pulse el botón de 'Enviar'
                    $(".botonAsignarTecnico").on("click", function () {
                        //Obtener el valor contenido en el cuadro de texto
                        let idAviso = $($(this).parents("tr")).find("td").eq(0).html()
                        // Realizar la petición al servidor
                        $.ajax({
                            method: "GET",
                            url: "/aviso/ " + idAviso,
                            // En caso de éxito, mostrar el resultado en el documento HTML
                            success: function (data, textStatus, jqXHR) {
                                //Primera columna
                                $("#nombreUsuario").text(data.aviso.nombreUsuario);
                                $("#idAviso").text("Aviso " + data.aviso.idAviso + ":");
                                $("#inputIdAviso").val(data.aviso.idAviso)
                                $("#tipoAviso").text(data.aviso.tipo);
                                //Fecha
                                $("#fechaAviso").text(data.aviso.fecha);
                                //Tipo
                                $("#subtipoUno").text(data.aviso.subtipo[0]);
                                $("#subtipoDos").text(data.aviso.subtipo[1]);

                                if(!data.aviso.subtipo[1]){
                              $("#subtipoDos").hide()
                            } else{
                              $("#subtipoDos").show()
                            }

                                
                                //Perfil Usuario
                                $("#perfilUsuarioAviso").text(data.aviso.perfilUniversitario);
                                //Observaciones
                                $("#textoAviso").text(data.aviso.texto);

                            },
                            // En caso de error, mostrar el error producido
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("Se ha producido un error: " + errorThrown);
                            }
                        });

                    });

                    $.ajax({
                        method: "GET",
                        url: "/tecnicos",
                        // En caso de éxito, mostrar el resultado en el documento HTML
                        success: function (data, textStatus, jqXHR) {

                            Object.entries(data).forEach(([key, value]) => {
                                value.forEach(element => {
                                    $('#dropTecnicos').append(new Option(element.nombre, element.numTecnico));
                                });

                            });

                        },
                        // En caso de error, mostrar el error producido
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Se ha producido un error: " + errorThrown);
                        }
                    });
                });
            </script>

</body>

</html>