<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> UCM-CAU </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/tablas.css">
  <link rel="stylesheet" href="./css/fondo.css">
  <link rel="icon" href="https://www.ucm.es/themes/ucm16/media/img/logoucm.ico">
</head>

<body class="backGround">

  <%- include ("subplantillas/cabecera") %>
  <%- include ("subplantillas/modalInfoAviso") %> 

  <div class="container mt-2">
    <div class="d-flex justify-content-between flex-row">
      <ul class="nav">
        <li class="nav-item bg-light me-1 rounded-3">
          <a class="nav-link" href="/logged_user">Mis avisos</a>
        </li>
        <li class="nav-item bg-light me-1 rounded-3">
          <a class="nav-link" href="/historicosuser">Histórico de avisos</a>
        </li>

      </ul>
    </div>
    <div class="mt-1">
      <table id="tablaAvisos" class="table-responsive overflow-auto table custom-table rounded-3 table-borderless table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">Tipo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Texto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>

          <% if(avisos){%>
          <% avisos.forEach(element=> { %>
          <tr>
            <% let imagen; switch(element.tipo){ case "F" : imagen="./images/felicitacion.png" ;
                                        break; case "S" : imagen="./images/sugerencia.png" ; break; case "I" :
                                        imagen="./images/incidencia.png" ; break; }%>

            <td class="d-none">
              <%= element.idAviso %>
            </td>

            <td class="align-middle text-center col-1"> <img src=<%=imagen %> alt="">
            </td>

            <td class="align-middle col-1 p-0">
              <%= element.fecha %>
            </td>

            <td class="align-middle col-9">
              <% let aux =  element.texto
                if (aux.length > 200) {
                    aux = element.texto.slice(0,199) +"...";
                }
               %>
              <%= aux %>
            </td>


            <td class="align-middle text-center col-1">
              <div class="btn-group" role="group" id="botonVistaAnuncio" aria-label="Basic example">
                <button class="button" data-bs-toggle="modal" data-bs-target="#modalInfoAviso">
                  <img src="./images/eye.png" alt="">
                </button>
              </div>
            </td>

          </tr>
          <% }); %>

          <%} else{%>
          <tr>
            <td class="align-middle col-1"> </td>
            <td class="align-middle text-center col-9"> <strong>
                Sin avisos ヾ(⌐■_■)ノ♪
              </strong> </td>
            <td class="align-middle col-1 text-center"> </td>
            <td class="align-middle col-1 "> </td>
          </tr>

          <%}%>

                    </tbody>
                </table>


            </div>
        </div>
        <script>
            $(document).ready(function () {
                // Cada vez que se pulse el botón de 'Enviar'
                $("#botonVistaAnuncio").on("click", function () {
                    //Obtener el valor contenido en el cuadro de texto
                    let idAviso = $($(this).parents("tr")).find("td").eq(0).html()
                    console.log(idAviso);
                    // Realizar la petición al servidor
                    $.ajax({
                        method: "GET",
                        url: "/aviso/ " + idAviso,
                        // En caso de éxito, mostrar el resultado en el documento HTML
                        success: function (data, textStatus, jqXHR) {
                            //Primera columna
                            console.log(data.aviso);
                            $("#nombreUsuario").text(data.aviso.nombreUsuario);
                            $("#idAviso").text("Aviso " + data.aviso.idAviso + ":");
                            $("#tipoAviso").text(data.aviso.tipo);
                            //Fecha
                            $("#fechaAviso").text(data.aviso.fecha);
                            //Tipo
                            $("#subtipoUno").text(data.aviso.subtipo[0]);
                            $("#subtipoDos").text(data.aviso.subtipo[1]);
                            //Perfil Usuario
                            $("#perfilUsuarioAviso").text(data.aviso.perfilUniversitario);
                            //Texto
                            $("#textoAviso").text(data.aviso.texto);
                            //Observaciones Técnico
                            if (data.aviso.observaciones) {
                                $("#comentarioTecnico").text(data.aviso.observaciones);
                            }
                        },
                        // En caso de error, mostrar el error producido
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Se ha producido un error: " + errorThrown);
                        }
                    });

                });
            });
        </script>
</body>

</html>